[submodule "submodules/systemd"]
	path = submodules/systemd
	url = https://github.com/systemd/systemd/
[submodule "submodules/jack2"]
	path = submodules/jack2
	url = https://github.com/jackaudio/jack2/
