[submodule "submodules/systemd"]
	path = submodules/systemd
	url = https://github.com/systemd/systemd/
[submodule "submodules/pipewire"]
	path = submodules/pipewire
	url = https://github.com/PipeWire/pipewire/
[submodule "submodules/jack2"]
	path = submodules/jack2
	url = https://github.com/jackaudio/jack2/
[submodule "submodules/pulseaudio"]
	path = submodules/pulseaudio
	url = https://github.com/pulseaudio/pulseaudio/
